<body>
  <p *ngIf='trending.length == 0; else Trend'> No trending</p>
  <ng-template #Trend>
    <ul>
      <li *ngFor="let trend of trending">
        <div class='trend'>
          <strong>{{trend.name}}</strong>
          <div>
              <p *ngIf='trend.location.address'>{{trend.location.address}}</p>
              <p>{{trend.location.distance}} meters away</p>
          </div>
          <img *ngIf='trend.categories' [src]="trend.categories[0].icon.prefix + 64 + trend.categories[0].icon.suffix"
            alt="img">
        </div>
      </li>
    </ul>
  </ng-template>
</body>
