$headerColor: rgb(59, 229, 206);

  header{
    position: fixed;
    width: 100%;
    margin-top: 0;
    background: $headerColor;
    height: 4em;
    display: grid;
    z-index: 1;
    grid-template-columns: 25% 50% 25%;
    h2{
      margin-left:  1em;
      text-align: left;
      line-height: 2.5em;
      color: rgb(255,255,255);
    }
    #navtabs{
      text-align: center;
      margin-top: 1em;
      button{
        color: rgb(255,255,255);
        margin-top: 0.5em;
        margin-left: 2em;
        margin-right: 2em;
        background: $headerColor;
        border: none;
        }
        button:hover{
          color: rgb(0,0,0);
        }
      }
  }
