<header>
  <h2>Project CloudAPI</h2>
    <div id="navtabs">
    <button [routerLink]="['places']" >Places</button>
    <button [routerLink]="['search']" >Search</button>
    <button [routerLink]="['trending']">Trending</button>
    <button [routerLink]="['circusMaterials']">Circus materials inventory</button>
    <!-- *ngIf="authService.isLoggedIn" -->
  </div>
   <div>
    <button class='login' *ngIf='!authService.isLoggedIn' (click)='authService.login()' >login</button>
    <button  class='login' (click)='authService.logout()' *ngIf='authService.isLoggedIn' >logout</button>
  </div>
</header>
