<div id='inputfield'>
  <div>
    <label for='search'>Search: </label>
    <input #search placeholder='search'>
    <button (click)='SearchGivenInput()'></button>
  </div>
  <div>
    <label>search ID: </label>
    <input #searchID placeholder='id'>
    <button (click)='SearchForID()'></button>
  </div>
</div>

<div class='idResult'>
  <div>
    <strong>{{searchedID.id}}</strong>
    <p>{{searchedID.name}}</p>
    <p>{{searchedID.location.address}}</p>
    <p>{{searchedID.likes.summary}}</p>
    <p>{{searchedID.beenHere.count}} times visited</p>  <br>
    <p>{{searchedID.description}}</p>
  </div>
</div>

<div class='showResult'>
  <p *ngIf='searchedPlaces.length == 0; else Search'> No search</p>
  <ng-template #Search>
    <ul>
      <li *ngFor='let search of searchedPlaces'>
        <div class='search'>
          <strong>{{search.name}}</strong>
          <p>{{search.id}}</p>
          <div>
            <p *ngIf='search.location.address'>{{search.location.address}}</p>
            <p>{{search.location.distance}} meters away</p>
          </div>
          <img *ngIf='search.categories'
            [src]='search.categories[0].icon.prefix + 64 + search.categories[0].icon.suffix' alt='img'>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
