<div id="inputfield">
    <div>
        <label for="city">City: </label>
        <input #city placeholder="city">
        <button (onclick)='SearchGivenInput'></button>
    </div>
    <div>
        <label for="categorie">Categorie: </label>
        <input #categorie placeholder="categorie">
        <button (onclick)='SearchGivenInput'></button>
    </div>
    <div>
        <label for="maxDistance">Max-distance: </label>
        <input #maxDistance placeholder="distance from you" inputmode="numeric">
        <button (onclick)='SearchGivenInput'></button>
    </div>
  </div>
