.loginwindow{
    padding: 1em 1em;
    margin: 50vh 0em;
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    border: 0.5px solid black;
    border-radius: 10px;
    button{
      background-color: rgb(59, 229, 206);
      border: none;
      border-radius: 10px;
      margin: 0.5em 0em;
      height: 1fr;

    }
  }