<input #search type="text" placeholder="search material">
<ul *ngFor="let material of materials">
  <div>
    <li><strong>Material name: </strong>{{material.name}}</li>
    <li><strong>Amount: </strong>{{material.amount}}</li>
    <li><strong>Category: </strong>{{material.category}}</li>
    <li><strong>Brand: </strong>{{material.brand}}</li>
    <li><strong>Day of purchase : </strong>{{material.in_use_date | date:'fullDate'}}</li>
    <!-- <li><strong>Day of purchase : </strong>{{material.owner</li> -->
  </div>
</ul>
